html {
  scroll-behavior: smooth;
}


body {
  font-family: ibm-plex-sans, sans-serif;
  margin-top: 24px;
  padding-left: 25px;
  padding-right: 24px;
  color: #000;
  background-color: #fff;
  line-height: 140%;
  font-weight: var(--font-weight-light);
}

main {
  padding-bottom: 92px;
  padding-top: 92px;
}


dd {
  margin-bottom: var(--spacing-s);
  border-bottom: var(--spacing-3xs) solid lightgray;
  padding-bottom: var(--spacing-s);
}

dt {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}



h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-light);
  line-height: 110%;
}

h2 {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xl);
  line-height: 120%;
  margin-top: var(--spacing-4xl);
}

h3{
  font-weight: var(--font-weight-regular);
}

p, h1, h2, h3, h4 {
  margin-bottom: var(--spacing-xl);
}



