/* Infobox
################################################################# */

.infobox {
  padding: var(--spacing-m);
  border-left: 0.2rem solid var(--color-primary-default);
  background-color: var(--color-background-200);

  ul {
    padding-left: 1.5rem;
    margin: 0.5rem 0 0;
    list-style-type: disc;
  }

  li {
    margin-bottom: 0.5rem;
  }
}




/* Imagebox with Caption
################################################################ */

.image-with-caption {
  img {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
  }

  figcaption {
    padding: var(--spacing-m);
    background-color: var(--color-background-200);
    font-size: var(--font-size-s);
    line-height: var(--line-height-tight);
  }
}


/* TOC - Sidebar
############################################################################# */

.toc {
  h2 {
    font-size: var(--font-size-xl);
  }

  ul {
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-xl);

    li {
      padding: var(--spacing-2xs);
      padding-left: var(--spacing-s);
      border-left: var(--border-width-m) solid var(--color-background-200);
      margin: 0;

      a {
        color: var(--color-text-default);
        opacity: 0.6;
        text-decoration: none;

      }

      &:hover {
        border-left-color: var(--color-primary-default);

        a {
          opacity: 1;
        }
      }
    }
  }
}


/* Button
###################################################### */
.button {
  display: flex;
  height: 38px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing-xs);
  border: none;
  background-color: var(--color-primary-default);
  color: #fff;
  font-size: var(--font-size-l);

  &:active {
    background-color: var(--color-primary-400);
  }
}




/* Image with caption flex
###################################################### */
@media screen and (width >=700px) {
  .image-flex {
    display: flex;
    align-items: flex-start;

    img {
      max-width: 182px;
      height: auto;
      flex-shrink: 0;
    }

    figcaption {
      h3 {
        margin-bottom: 10px;
      }
    }

    .infobox {
      max-height: 150px;
      flex-grow: 1;
      flex-shrink: 1;
      align-content: stretch;
    }

  }
}


/* Image next to each other
###################################################### */
@media screen and (width >=700px) {
  .images-next-to-each-other {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}