/* Infobox
#################################################################*/

.infobox {
  position: relative;
  background-color: var(--color-background-200);
  border-left: 0.2rem solid var(--color-primary-default);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);

  ul {
    list-style-type: disc;
    /* Punkt als Aufzählungszeichen */
    padding-left: 1.5rem;
    /* Platz für die Punkte */
    margin: 0.5rem 0 0 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

/* Imagebox with Caption
################################################################*/


.imagebox-with-caption {
  max-width: var(--container-s);
  background-color: var(--color-background-200);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-m);

  img {
    width: 100%;
  }

  figcaption {
    padding: var(--spacing-m);
    font-size: 0.9rem;
    line-height: 130%;
  }
}

@media screen and (min-width: 700px) {
  .imagebox-with-caption {
    display: inline-block;
  }
}

/* Sidebar
################################################################*/

.sidebar {
  a {
    text-decoration: none;
    color: var(--color-text-secondary);
    display: inline-block;
    width: 100%;
  }

  a:hover {
    border-left-color: var(--color-accent)
  }

  p {
    font-weight: var(--font-weight-light);
  }

  ul {
    list-style: none;
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-xl);
    border-left: 4px solid lightgray;

    li {
      position: relative;
      padding: 0.5rem 1rem;
      font-size: var(--font-size-m);
    }
  }
}

.main-navigation {
  display: none;
}

.logo {
  width: 88px;
  height: 30px;
}
